body {
  background-image: url('../img/backdrop.png');
  background-size: cover;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.hidden {
  display: none;
}

#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 500px; /* Adjust the size as needed */
  animation: fadein 2s;
}

#play-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 2px;
  color: white;
  border-radius: 20px;
  animation: fadein 2s 2s; /* Fade in after the logo */
  opacity: 0;
  animation-fill-mode: forwards;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.first-item {
  position: absolute;
}

.second-item {
  position: absolute;
}

.buttons{
  position: absolute;
}


